<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AcessoAlterarSenha</filter-name>
        <filter-class>br.cms.AutorizacaoAcesso.AcessoAlterarSenha</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAlterarSenha</filter-name>
        <url-pattern>/alterarSenha.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AcessoUsuario</filter-name>
        <filter-class>br.cms.AutorizacaoAcesso.AcessoUsuario</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoUsuario</filter-name>
        <url-pattern>/gerencia/*</url-pattern>
        <url-pattern>/atendimento/*</url-pattern>
        <url-pattern>/sociedade/*</url-pattern>
        <url-pattern>/principal.jsp</url-pattern>
        <servlet-name>GerenciaController</servlet-name>
        <servlet-name>AtendimentoController</servlet-name>
        <servlet-name>SociedadeController</servlet-name>
        <servlet-name>ReservaController</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AcessoGerencia</filter-name>
        <filter-class>br.cms.AutorizacaoAcesso.AcessoGerencia</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoGerencia</filter-name>
        <url-pattern>/gerencia/*</url-pattern>
        <servlet-name>GerenciaController</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>AcessoAtendimento</filter-name>
        <filter-class>br.cms.AutorizacaoAcesso.AcessoAtendimento</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAtendimento</filter-name>
        <url-pattern>/atendimento/*</url-pattern>
        <servlet-name>AtendimentoController</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>AcessoSociedade</filter-name>
        <filter-class>br.cms.AutorizacaoAcesso.AcessoSociedade</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoSociedade</filter-name>
        <url-pattern>/sociedade/*</url-pattern>
        <servlet-name>SociedadeController</servlet-name>
        <servlet-name>ReservaController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>br.cms.Controller.AcessoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciaController</servlet-name>
        <servlet-class>br.cms.Controller.GerenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtendimentoController</servlet-name>
        <servlet-class>br.cms.Controller.AtendimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SociedadeController</servlet-name>
        <servlet-class>br.cms.Controller.SociedadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaController</servlet-name>
        <servlet-class>br.cms.Controller.ReservaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciaController</servlet-name>
        <url-pattern>/GerenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtendimentoController</servlet-name>
        <url-pattern>/AtendimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SociedadeController</servlet-name>
        <url-pattern>/SociedadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaController</servlet-name>
        <url-pattern>/ReservaController</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
